name: CI

on:
  push:
    branches:
      - "master"
      - "release/**"
    tags-ignore:
      - "**"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-success:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Merge Tarballs
        uses: ./
        with:
          archive: ./merged.tar.gz
          glob: ./test/**

      - name: Test Merged Artifact
        shell: bash
        run: test -f ./merged.tar.gz
