name: Publish

on:
  push:
    tags:
      - 'v**'

permissions:
  contents: write

concurrency:
  group: publish-${{ github.ref }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Merge Tarballs
        uses: ./
        with:
          archive: ./merged.tar.gz
          glob: ./test/**

      - name: Test Merged Artifact
        shell: bash
        run: test -f ./merged.tar.gz

  publish:
    name: Publish
    needs: "test"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo RELEASE_VERSION=$VERSION >> $GITHUB_ENV
          echo "RELEASE_VERSION_MAJOR=v${VERSION%%.*}" >> $GITHUB_ENV

      - name: Commit and push release
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git push -u origin HEAD:$RELEASE_VERSION_MAJOR
